.form-container {
    width: 400px;
    margin: auto;
    overflow: hidden;
    }
.input-area {
    width: 100%;
    height: 100px;
    }
.btn-submit {
    margin: auto;
    width: 45%;
    background-color: #4CAF50;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    }
.btn-submit:hover {
    background-color: #43a047;
    }
.btn-creatF {
    width: 20%;
    background-color: Gray;
}
.btn-creatD {
    width: 20%;
    background-color: Blue;
}
.btn-creatC {
    width: 15%;
    background-color: Red;
}
