html, body {
  width: 100%;
  height: 100%;
  background: MediumSeaGreen;
  padding: 0;
  margin: 0;
}

#table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: SaddleBrown;
    width: 80%;
    height: 80%;
    border: 15px solid Maroon;
    border-radius: 50px;
    background-size: 100%;
    background-position: center;
}

/*============================================*/
#openFileMenue{
    position: absolute;
    z-index: 10;
    left: 0vw;
    top: 0vw;
    width: 100px;
    height: 100px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    box-shadow: 2px 1px 5px gray;
}
#openFileMenue:hover{
    box-shadow: 2px 1px 5px black;
    cursor: pointer;
}
.book{
    height: 33.33%;
    width: 100%;
    font-size: 20px;
    color: Goldenrod;
}
/* Это просто книги */
.book:nth-child(1){
    background: linear-gradient(red,gray);
}
.book:nth-child(2){
    background: linear-gradient(blue,gray);
}
.book:nth-child(3){
    background: linear-gradient(green,gray);
}
/*============================================*/

#fileMenue{
    display: none;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    margin-left: auto;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 2%;
    width: 200px;
    min-height:50%;
    font-size: 20px;
    border: 2px solid black;
}
#menueDescription{
    height: 100px;
    width: 100%;
    background-color: gray;
}
#mark{
    background-color: rgba(192, 192, 192, 0.8);
    text-align: center;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
/*=============================================*/
#instruments{
    position: absolute;
    z-index: 10;
    right: 0vw;
    top: 0vw;
    width: 100px;
    height: 100px;
    background-color: DarkSlateGrey;
    border-left: 2px solid black;
    font-size: 60px;
    text-align:center;
    box-shadow: 2px 2px 5px gray;
}
#instruments:hover{
    box-shadow: -2px 2px 5px black;
    cursor: pointer;
}

#instrumentsMenue{
    display: none;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    margin-right: auto;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 2%;
    width: 200px;
    min-height: 50%;
    font-size: 20px;
    border: 2px solid black;
}
/*========================================*/
.creat{
    text-align: center;
    width: 15%;
    height: 33.33%;
    margin-left: 55%;
    border-radius: 10px;
    cursor: pointer;
}
.creat:nth-child(1){
    background-color: red;
}
.creat:nth-child(1):hover{
    background-color: Maroon;
}
.creat:nth-child(2){
    background-color: blue;
}
.creat:nth-child(2):hover{
    background-color: navy;
}
.creat:nth-child(3){
    background-color: green;
}
.creat:nth-child(3):hover{
    background-color: darkgreen;
}
/*============================================*/
div.functions{
    text-align: center;
    border-radius:5px;
    margin:10px;
    cursor: pointer;
}
#green{
    background-color: DarkSlateGrey;
}
#green:hover{
    background-color: green;
}

#red{
    background-color: DarkSlateGrey;
}
#red:hover{
    background-color: red;
}

#orange{
    background-color: DarkSlateGrey;
}
#orange:hover{
    background-color: Orange;
}

/*==============================================*/

#upToDir{
    background: linear-gradient(red, DarkRed);
    width: 20%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
#upToDir:hover{
   background: linear-gradient(DarkRed, Red);;
}

#files{
    text-align: center;
    cursor: pointer;
    margin: 2px;
    border-left: 4px solid black;
    border-right: 4px solid black;
}
#files.dir{
    background: red;
}
#files.img{
    background: blue;
}
#files.text{
    background: green;
}

/*=================================================*/
#instWind{
    position: fixed;
    width: 250px;
    min-height: 50%;
    top: 100px;
    left: 220px;
    z-index: 100;
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.8);
    font-size: 20px;
}
.setRange{
    width:90%;
}
/*=================================================*/
