/*==== стили текста ==== */
.form-container 
{
    text-align: center;
    position: relative;
    top: 8px;
    margin: auto;
    overflow: hidden;
    border: 4px solid black;
    border-radius: 5%;
    max-width: 800px;
    }
.input-area 
{
    border: 2px solid black;
    width: 98%;
    height: 300px;
}
/*====== Стили кнопок ======*/
.btn-submit 
{
    width: 20%;
    background-color: Green;
    border-radius: 20%;
}
.btn-creatF 
{
    width: 20%;
    background-color: Gray;
    border-radius: 20%;
}
.btn-creatD 
{
    width: 20%;
    background-color: Blue;
    border-radius: 20%;
}
.btn-creatC 
{
    width: 15%;
    background-color: Red;
    border-radius: 20%;
}
.controls{
    margin: 10px;
}
/*==== стили канваса ==== */
canvas 
{
    border: 2px solid black;
    touch-action: none;
    width: 98%;
    height: 300px;
    pointer-events: auto;
}

.l1
{
  display: flex;
  border: 3px solid aqua;
  width: 98%;
  height: 300px;
}
.butRight
{
    position: flex;
    left: 450px;
}
.rangers
{
  width: 100px;
  position: flex;
  left: 120px;
}
/* ==== Стили фона ===== */
#gradient
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
/*=== стили кнопок растройки ===*/
#textControlsValue{
    background-color: gray;
}
#textTheme{
    background-color: gray;
}

/*амонгус*/
:root {
  --base-color-1: #8a071d;
  --base-color-2: #0d0d0d;
  --lighter-base-color-1: #c71212;
  --lighter-base-color-2: #242020;
  --face-color: #73989e;
  --lighter-face-color: #CAE8ED;
  --border-color: #000000; 
}


.face{ 
  position: absolute;
  right: -20px;
  top: 25px;
  z-index: 2;
  
  background-color: var(--face-color);
  width: 130px;
  height: 90px;
  transform: rotate(-4deg);

  border: 12px solid var(--border-color);
  border-radius: 70px 90px 110px 110px;
}

.face-light-part {
  position: relative;
  width: 94px;
  height: 50px;
  margin: 0px 12px;
  background-color: var(--lighter-face-color);
  border-radius: 30% 40% 55% 50%;
  display: inline-block;
}

.shimmer {
  position: relative;
  margin: 4px 25px;
  width: 50px;
  height: 20px;
  background-color: white;
  border-radius: 40% 50% 50% 40%;
}

.backpack-light-part {
  margin-left: 2px;
  height: 25px;
  width: calc(100% - 2px);
  
  background-color: var(--lighter-base-color);
  
  border-radius: 50% 0 0 20%;
}

.red-crew {
  position: absolute;
  margin: 500px 330px;
  width: 158px;
  height: 230px;
  background-color: var(--base-color-1);
  transform: rotate(0deg);
  border: 12px solid var(--border-color);
  border-radius: 70px 85px 70px 70px;
}

.body-light-part-1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  
  width: 95%;
  height: 90%;
  background-color: var(--lighter-base-color-1);
  transform: rotate(-2deg);
  border-radius: 40% 50% 36% 30%;
}

.backpack-1{
  position: absolute;
  left: 0;
  top: 65px;
  width: 50px;
  height: 150px;
  transform: translate(-100%);
  
  background-color: var(--base-color-1);
  border: 12px solid var(--border-color);
  border-radius: 40% 0 0 50%;
}

.leg-left-under-1 {
  position: absolute;
  bottom: 0;
  left: -12px;
  
  width: 70px;
  height: 60px;
  
  background-color: var(--base-color-1);
  border-left: 12px solid var(--border-color);
}

.leg-left-1 {
  position: absolute;
  bottom: 0;
  left: -12px;
  
  width: 65px;
  height: 56px;
  transform: translateY(55px);
  
  background-color: var(--base-color-1);
  border: 12px solid var(--border-color);
  border-top: none;
  border-radius: 0 0 40% 60%;
}

.leg-right-under-1 {
  position: absolute;
  bottom: -4px;
  left: 82px;
  
  width: 65px;
  height: 32px;
  
  background-color: var(--base-color-1);
  border-right: 12px solid var(--border-color);
}

.leg-right-1 {
  position: absolute;
  bottom: -50px;
  left: 70px;
  
  width: 65px;
  height: 50px;
  
  background-color: var(--base-color-1);
  border: 12px solid var(--border-color);
  border-top: none;
  border-radius: 0 0 40% 60%;
}
